.App {
  text-align: center;
}

.bounding-box {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #00ff00; /* Green color for the bounding box */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
}

.particles-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

